@charset "utf-8";
/* CSS Document */

 button {
	position: relative;
    background-color:firebrick;
    border: none;
    border-radius: 12px;
    padding: 10px 40px;
    margin: 8px;
    font-size: x-large;
    font-family: cursive;
    text-decoration: none;
    color: floralwhite;
    opacity: 0.6;
    transition: 0.1s;
	cursor: pointer;
        }
input {
	color:brown;
}
.paragragh{
	cursor:no-drop;
	width:200px;
	font-size:18px;
}

.why{
	color: antiquewhite;
	font-size: 22px; 
}


h2{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: antiquewhite;
	text-align: center;
	top: auto;
}

body  {
  background-image: url("images/nice.png");
  background-color: #cccccc;
}

label{
	color: antiquewhite;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
p {
	color: antiquewhite;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
b {
	font-size: 25px;
	color: antiquewhite;
}

#lilBoi{                              /* This is a change */
	text-align: center;
}

